body { /*aqui le damos estilo al cuerpo principal de la pagina */
    margin: 0; /*margen*/
    padding: 0; /*borde*/
    font-family: Arial, Helvetica, sans-serif; /*estilo de letra y fuente*/
}

/*--estilos a la seccion*/

main {

    width: 100%;
    height: auto;
    display: flex;
    align-items: center; /*acomodar los elementos de forma vertical*/
    justify-content: center;/*acomodar los elementos de forma horizontal*/
    
}

#formularios {
    width: 50%;
    height: auto;
}

/*aqui modificamos el titulo */
h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;

}

/*aqui vamos a modificar todas las etiquetas o los labels*/

label {
    display: block;
    /*aqui agregamos todas la lineas en bloque */
    margin: 10px 0px 5px 0 px;
    /*aqui le damos el margen a los bloques  arr 10 , der 0 , abaj 5 , izq 0 */
}

input , select,textarea{
    width: 95%;
    padding: 5px;
    border: 1px solid #9b9a9a;
    border-radius: 5px;
}

textarea{
    resize: none; /*aqui le quitamos al cuadro de comentarios el poder agrandarlo */

}
#radio-gropu,#checkbox-group{
    display: flex; /*colocamos los dev en fila */
    align-items: center;
    
}
input[type="radio"],input[type="checkbox"]{
    width:auto;
    margin-right: 10px;

}
 button{
    width:100%;
    /* margin-top: 15px;
    margin-bottom: 20px; */
    margin: 20px 0;
    background-color: green;
    font-size: 22px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;

 }

 button:hover{  /*cambiarle el estilo al puntero y el color a lo que queremos seleccionar */
    cursor: pointer;
    background-color: rgb(8, 67, 8);

 }