body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: url("topo streed food.jpg") no-repeat center center fixed;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-attachment:scroll ;
    color: white;
}

/* Capa oscura transparente */
body::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.header,
.main-content {
    position: relative;
    z-index: 1;
}

.header {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 3em;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.main-content {
    max-width: 1000px;
    margin: 40px auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
   
}

.menu-grid,
.galeria-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.menu-item,
.galeria-grid img {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: white;
}

.menu-item img {
    width: 100%;
    border-radius: 10px;
    height: 150px;
    object-fit: cover;
}

.galeria-grid img {
    width: 100%;
    border-radius: 10px;
    height: 150px;
    object-fit: cover;
}
